// Imports
@import 'variables';

// Styling
.pims-table {
  width: 100%;
  background-color: $component-background;

  caption {
    display: none;
  }

  th.mat-header-cell, td.mat-cell {
    padding: 0 $default-padding;
  }

  td.mat-cell {
    border-bottom: none;
    min-width: 10rem;

    .pims-cell {
      display: flex;
      justify-content: space-between;
    }
  }
}

.mat-paginator {
  background-color: $component-background;
}
