// Imports
@import 'variables';

// Styling
:host {
  height: 100%;
  padding: $default-padding * 2;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas:
    "users users users ."
    "users users users ."
    ". . . ."
    ". . . .";

  #users-table {
    grid-area: users;
  }
}

@media screen and (max-width: $medium-breakpoint) {
  :host {
    grid-template-areas:
    "users users users users"
    "users users users users"
    ". . . ."
    ". . . .";
  }
}

@media screen and (max-width: $small-breakpoint) {
  :host {
    padding: $default-padding;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
