// Imports
@import 'variables';

// Styling
:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  main {
    flex: 1;
  }
}

@media screen and (max-width: $small-breakpoint) {
  :host {
    display: inline-flex;
  }
}
