// Imports
@import '~@angular/material/theming';

// Variables

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pims-primary: mat-palette($mat-brown, 900);
$pims-accent:  mat-palette($mat-orange, A700, A200, 900);

// The warn palette is optional (defaults to red)
$pims-warn:    mat-palette($mat-deep-orange);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`
$pims-theme: mat-dark-theme((
        color: (
                primary: $pims-primary,
                accent: $pims-accent,
                warn: $pims-warn
        )
));
